* {
    padding: 0;
    margin: 0;
    background-color: black;
    box-sizing: border-box;
}

/* 
font-family: 'Crimson Pro', serif;
font-family: 'Lora', serif;
font-family: 'Montserrat', sans-serif; 
*/

.Container {
    display: flex;
}

.buttonheader {
    font-family: 'Crimson Pro', serif;
    font-weight: 200;
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    background-color: #00000000;
    width: 102px;
    height: 32px;
    margin: 46px 77px;
    cursor: pointer;
}

a {
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin-right: 50px;
}

a:hover {
    opacity: 0.8;
}

a:active {
    opacity: 0.9;
}

header {
    margin: 46px 0 0 550px;
    cursor: pointer;
}

.home {
    text-decoration: underline;
}

.body-container {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15vh 3rem;
}

.right img {
    width: 100%;
    margin: 0px 56px;
}

.right div {
    position: relative;
    width: 100%;
}

.comment {
    position: absolute !important;
    width: 560px !important;
    bottom: -59px;
    right: -89px;
    transform: translate(-10%, 50%);
    padding: 1rem;
    box-sizing: border-box;
    display: inline-block;
}

.comment h1 {
    font-family: 'Lora', serif;
    font-size: 1.5rem;
}

.profile {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
}

.profile img {
    width: 15% !important;
    border-radius: 50%;
}

.profile-text h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.profile-text p {
    font-weight: 500;
    font-size: 12px;
    color: #828282;
    top: 10px;
}

.comment-profile h1 {
    font-weight: 700;
    font-size: 24px;
    display: inline-block;
}

.left {
    width: 100%;
}

.left h1 {
    font-family: 'Lora', serif;
    margin-bottom: 2rem;
}

.left p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.left a {
    font-size: 1.5rem;
    cursor: pointer;
}